code {
    color: var(--d) !important;
}

.sidebarItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 10px 20px 10px;
}

.photo {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}

.networksList {
    width: 90%;
}

.networkItem {
    border-radius: 6px !important;
    margin: 5px 0 5px 0 !important;
    border: none !important;
}

.aboutMe {
    padding: 0 10px;
    line-height: 22px;
}

.aboutMeIcon {
    position: relative;
    bottom: 3px;
    right: 5px;
}

.usernameWrapper {
    text-align: center;
}

@media (min-width: 500px) and (max-width: 1200px) {
    .aboutMe {
        margin: 15px 0;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .sidebarItem {
        margin-left: 0;
        margin-right: 0;
    }

    .photo {
        object-fit: cover;
        width: 150px;
        margin: 0;
    }

    .networkItem {
        width: fit-content !important;
    }
    
    .networksList {
        flex-direction: row !important;
        justify-content: space-around;
    }
    
    .aboutMeWrapper {
        display: flex;
        flex-direction: row;
    }
}