@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    --aDark: #222831;
    --bDark: #30475E;
    --cDark: #3282B8;
    --dDark: #BBE1FA;
    --lettersDark: white;

    --buttonbgDark: #1C658C;
    --hoverbbgDark: #398AB9;

    --aLight: #EEEEEE;
    --bLight: #b7cadb;
    --cLight: #398AB9;
    --dLight: #1C658C;
    --lettersLight: black;
    
    --buttonbgLight: #1C658C;
    --hoverbbgLight: #398AB9;
    
    --a: var(--aDark);
    --b: var(--bDark);
    --c: var(--cDark);
    --d: var(--dDark);
    --letters: var(--lettersDark);
    
    --buttonbg: var(--buttonbgDark);
    --hoverbbg: var(--hoverbbgDark);
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--a) !important;
    animation: fadeInAnimation ease 1.5s;
    transition: 1s;
}

.hasDefaultBackground {
    background-color: var(--b);
    color: var(--letters);
}

.tridimensional {
    border-radius: 10px;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.fades {
    transition: 1s;
}

.clickable {
    background-color: var(--buttonbg) !important;
    color: white !important;
    transition: 0.15s;
}

.clickable:hover {
    transition: 0.15s;
    box-shadow: black 0px 0px 0px;
}

.expandSeparator {
    flex-grow: 1;
}

@media (min-width: 500px) {
    .App {
        margin: 25px;
    }

    .showOnlyOnMobile {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .App {
        margin: 15px;
    }

    .showOnlyOnMobile {
        display: block !important;
    }

    .hideOnMobile {
        display: none !important;
    }
}