@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --a: #EEEEEE;
    --b: #b7cadb;
    --c: #398AB9;
    --d: #1C658C;
    --letters: black;

    --buttonbg: #1C658C;
    --hoverbbg: #398AB9;
}

body {
    background-color: var(--a) !important;
    animation: fadeInAnimation ease 1.5s;

    transition: 1s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.area {
    background-color: var(--b);
    color: var(--letters);

    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    margin: 20px 10px 10px 10px;
    font-family: 'Nunito',
        sans-serif;

    box-shadow: black 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 1s;
}

.transparentArea {
    color: var(--letters);

    box-sizing: border-box;
    width: 100%;
    margin: 0 10px 0 10px;
    font-family: 'Nunito',
        sans-serif;

    transition: 1s;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mainContent {
    text-align: left;
    padding: 30px 30px 10px 30px;
}

.topBar {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 70px;
}

.topBarItem {
    background-color: var(--b);
    color: var(--letters);

    padding: 0px 20px;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: 'Nunito',
        sans-serif;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: 1s;
}

.darkModeSwitch {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.currencyPrices {
    margin: 0 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.photo {
    max-width: 80%;
    border-radius: 20px;
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;

    box-shadow: black 0px 0px 20px;
}

.networksList {
    width: 90%;
}

.shouldHighlight {
    background-color: var(--buttonbg) !important;
    color: white !important;
    transition: 0.15s !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shouldHighlight:hover {
    background-color: var(--buttonbg) !important;
    transition: 0.15s;
    box-shadow: black 0px 0px 0px;
}

.networkItem {
    border-radius: 12px !important;
    margin: 5px 0 5px 0 !important;
    border: none !important;
    transition: 1s;
}

.projectList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectCard {
    margin: 10px;
    border-radius: 20px !important;
    padding: 10px 10px 0 10px;
    display: flex !important;
    flex-direction: column !important;
    width: 33%;
    transition: 1s;
}

.imageWrapper {
    overflow: hidden;
    border-radius: 15px !important;
}

.cardPicture {
    border-radius: 15px !important;
    transition: 1s;
}

.cardPicture:hover {
    transform: scale(1.25);
    border-radius: 15px !important;
    transition: 0.25s;
}

.cardLink {
    color: white !important;
    text-decoration: none !important;
    cursor: pointer;
}

.expandSeparator {
    flex-grow: 1;
}

.technologyIcon {
    margin: 0 2% 0 2%;
    position: relative;
    bottom: 3px;
}

.knowledge {
    width: 100%;
    text-align: center;
    margin: 25px;
}

.aboutMe {
    line-height: 20px;
    font-size: 16px;
    vertical-align: middle;
}

.aboutMeIcon {
    position: relative;
    bottom: 3px;
    right: 5px;
}

.linkButton {
    font-size: 14px !important;
}

.linkButton:hover {
    background-color: whitesmoke !important;
    color: black !important;
}

@media (min-width: 500px) {
    .App {
        display: flex;
        justify-content: center;
        margin: 25px;
    }
}

@media (max-width: 500px) {
    .App {
        display: flex;
        justify-content: center;
        margin: 15px 5px 5px 5px;
    }

    .area {
        margin: 20px 0;
        padding: 20px;
    }

    .projectList {
        flex-direction: column;
        align-items: center;
    }

    .projectCard {
        margin-bottom: 25px;
        width: 90%
    }

    .technologyIcon {
        position: relative;
        bottom: 1px;
        right: 1px;
    }

    .knowledge {
        line-height: 60px;
        margin: 25px 0 25px 0;
    }

    .Sidebar {
        display: flex;
        flex-direction: column;
    }

    .hideOnMobile {
        display: none;
    }

    .networkItem {
        width: fit-content !important;
    }

    .networksList {
        flex-direction: row !important;
        justify-content: space-around;
        width: 85%;
    }

    .topBar {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0;
    }

    .topBarItem {
        background-color: var(--b);
        color: var(--letters);

        padding: 0px 20px;
        border-radius: 25px;
        box-sizing: border-box;
        font-family: 'Nunito',
            sans-serif;

        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        transition: 1s;

        margin: 0 0 20px 0;
    }

    .darkModeSwitch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
    }

    .weatherDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
    }

    .currencyPrices {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        padding: 10px 0 10px 0;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--a);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--d);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}